<p id="notice"><%= notice %></p>
<br>
<br>
<h1>Products</h1>

<div class="container-fluid">
  <div class="row">
    <% @products.each do |product| %>
      <%= render @products %>
      </div><!-- /col -->
    <% end %>
  </div>
</div>

<div>
  <td><%= link_to 'Show', product %></td>
  <td><%= link_to 'Edit', edit_product_path(product) %></td>
  <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</div>

<br>

<%= link_to 'New Product', new_product_path %>